<div class="container">

  <h2>Stylist:  <%= @stylist.name() %> <span class="glyphicon glyphicon-user"></span></h2><br>

  <% if @stylist_clients.any?() %>
      <h3>Current Clients:</h3>

      <ul>
        <% @stylist_clients.each() do |client| %>
          <li><a href="/clients/<%= client.id() %>"> <%= client.name() %></a></li>
        <% end %>
      </ul>

  <% else %>

        <p><%= @stylist.name() %> currently has no clients.</p>

  <% end %>

  <br><br><br>

  <div class="buttons">
    <p><a class="btn btn-primary btn-md" href="/clients/new" role="button"> Add Client</a></p>
    <p><a class="btn btn-primary btn-md" href="/stylists" role="button">Back to Stylist List</a></p>
    <p><a class="btn btn-primary btn-md" href="/stylists/<%= @stylist.id() %>/edit" role="button"> Edit <%= @stylist.name() %> info</a></p>
  <p><a class="btn btn-primary btn-md" href="/" role="button">Return Home</a></p>
  </div>
</div>
